<!DOCTYPE html>
<html>
<head>
    <title>책 검색</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
<div class="search-container align-center">
    <h1>
        <span>KYOBO</span><span> &</span><span> AMAZON</span> <span> BOOKS</span> <span>
        RECCOMMENDATION</span>
    </h1>
    <form class="srchBox" action="/search" method="post">
        <div>
            <select name="option">
                <option value="title">책 제목</option>
                <option value="author">저자</option>
            </select>
            <input type="text" class="book_srch" name="text" placeholder="검색어를 입력해주세요" autocomplete="off">
            <button type="submit" class="btn_srch" id="search">검색</button>
        </div>
        <div>
            <button type="submit" class="rating_srch" id="search">평점이 높은 책 추천</button>
        </div>
        <div>
            <button type="submit" class="review_srch" id="search">리뷰가 좋은 책 추천</button>
        </div>
    </form>
</div>
</body>
</html>